export(read.rdf,
       listSlots,
       rdfSlotToMatrix,
       rdfSlotToXTS,
       sumMonth2Annual,
       createSlotAggList,
       getDataForAllScens,
       getMinAnnValue,
       getMaxAnnValue,
       flowWeightedAvgAnnConc)