export(read.rdf,
       listSlots,
       rdfSlotToMatrix,
       sumMonth2Annual,
       createSlotAggList,
       getDataForAllScens,
       getMinAnnValue,
       getMaxAnnValue,
       flowWeightedAvgAnnConc,
       rdfSlotToXTS,
       getTraceMonthVal, getTraceAvg, getTraceMin, getTraceMax, getTraceSum, 
       getArrayPctl, getArrayThresholdExceedance)